<ion-view view-title="Forgot Password">
  <form name="forgotPasswordForm" ng-controller="LoginCtrl">
  <ion-content class="padding mainBackground" style="padding-top:20px;">
     <div class = "col text-center">
       <img src="images/gymconnect.png" style="height: 40vh;  margin-left:auto; margin-right:auto; display:block;" alt="">
     </div>

    <div class="list list-inset">
      <label class="form-box item item-input">
        <i class="icon ion-ios-email-outline placeholder-icon"></i>
        <input style="" type="email" placeholder="Email" ng-model="user.email" required>
      </label>
    </div>
  </form>
    <button style="" class="button button-block button-positive" ng-click="resetPassword(user.email)">
      Send Reset Instructions
    </button>
    <button style="" class="button button-block button-positive" ui-sref="login">
      Back
    </button>
  </ion-content>
</ion-view>
