<!-- <ion-view view-title="My Inbox">
  <ion-content class="padding" style="padding-top:20px;" >
    <div ng-repeat="message in inbox_messages" >
      <div class="card">
        <div class="item item-divider">
          <b>From: </b>{{message.from}}
        </div>
        <div class="item item-text-wrap">
          {{message.body}}
          <br />
          <br />
          <b>Sent at: </b>{{message.created_at | date:"MMM d, y h:mm a"}}
        </div>
        <div class="item item-divider">
          <button class="button button-small button-positive icon-left ion-reply" ng-click="replyMessage.to_id = message.from_id; replyMessage.to = message.from; openModal()">Reply</button>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view> -->


<!-- reply(message.from_id) -->
