<ion-view view-title="Login" class="mainBackground">
  <!-- <section class="loginBackground2"> -->


  <form name="loginForm" ng-controller="LoginCtrl">
  <ion-content scroll="false" class="padding" style="padding-top:20px;">

    <div class = "text-center">
      <img src="images/gymconnect.png" style="height: 38vh; margin-left:auto; margin-right:auto; display:block;" alt="">
    </div>

    <!-- </div> -->
    <div class="list list-inset">
      <label class="form-box item item-input">
        <i class="icon ion-ios-email-outline placeholder-icon"></i>
        <input class="loginFields" style=""  type="email" placeholder="Email" ng-model="user.email" required>
      </label>
      <label class="form-box item item-input">
        <i class="icon ion-ios-locked-outline placeholder-icon"></i>
        <input class="loginFields" style="" type="password" placeholder="Password" ng-model="user.password" required>
      </label>
    </div>
  </form>

  <button style="" class="button button-block button-positive"  ng-click="login(user)">
    Login
  </button>
  <button  style="" class="button button-block button-positive"  ng-click="goToSignUp()">
    Sign Up
  </button>

   <button class="button button-positive button-block" ng-click="LoginwithFacebook()">Login with Facebook</button>

  <div class="text-center">
    <button style="" class="button button-clear" ui-sref="forgot-password">
      Forgot password
    </button>
  </div>
  <!-- </section> -->

  </ion-content>
</ion-view>
