<ion-view view-title="Login" class="mainBackground">
  <!-- <section class="loginBackground2"> -->


  <form name="loginForm" ng-controller="LoginCtrl">
  <ion-content class="padding" style="padding-top:2vh;">

    <div class="row text-center" style="padding:0">
      <img src="images/gymconnect.png" style="height: 38vh; margin-left:auto; margin-right:auto; display:block;" alt="">
    </div>

    <!-- </div> -->
  <div class="col" style="max-height:58vh">


    <div class="list list-inset" style="margin-top: 2vh;">
      <label class="form-box item item-input">
        <i class="icon ion-ios-email-outline placeholder-icon"></i>
        <input class="loginFields" style=""  type="email" placeholder="Email" ng-model="user.email" required>
      </label>
      <label class="form-box item item-input">
        <i class="icon ion-ios-locked-outline placeholder-icon"></i>
        <input class="loginFields" style="" type="password" placeholder="Password" ng-model="user.password" required>
      </label>
    </div>
  </form>
  <div class="row" style="padding:0">
  <button style="margin-top:0" class="button button-block button-positive"  ng-click="login(user)">
    Login
  </button>
  </div>
  <div class="row" style="padding:0">
  <button  style="margin-top:.5vh" class="button button-block button-positive"  ng-click="goToSignUp()">
    Sign Up
  </button>
  </div>

  <div class="row" style="padding:0">
    <div class="col col-center text-center">
      <button style="" class="button button-clear" ui-sref="forgot-password">
        Forgot password
      </button>
    </div>
  </div>
    </div>
  <!-- </section> -->

  </ion-content>
</ion-view>
