<ion-view view-title="My Matches">
  <ion-content class="padding" style="padding-top:20px;" >

          <!-- {{indexToDayTime(current_user.hours_in_gym)}} -->
          <div ng-repeat="match in matches" >
            <div class="card">
              <div class="item item-divider">
                {{match.email}}
              </div>
              <div class="item item-text-wrap">
                <div style="text-align: center;">
                  <img ng-src="{{match.image_url}}" alt="No Image Uploaded" style="width: 40%; margin: 0 30%;">
                </div>
           </div>

           <h2>Workout Level: {{match.workout_level}}</h2>
           <h2>Hours In Gym:</h2>
           <div style="max-height: 200px; overflow-y:auto; border: 1px solid black">
             <div ng-repeat="hour in match.hours_in_gym">
               {{indexToDayTime(hour) | date:"EEEE 'at' h:mma"}}
               <br />
             </div>
           </div>
           <div class="item item-divider">
           <button class="button button-small button-positive icon-left ion-reply" style="float:right" ng-click="startConversation(match.id, replyMessage.body)">Message</button>
           <div style="overflow: hidden; padding-right: .5em;">
             <input type="text" ng-model="replyMessage.body" style="width: 100%;" />
            </div>
         </div>
       </div>
       </div>
    </div>
  </ion-content>
</ion-view>
