<ion-view view-title="Messages">
  <ion-content class="padding" style="padding-top:20px;" >
    <div ng-repeat="convo in conversations" >
      <div class="card">
        <div class="item item-divider">
          <b>Convo: {{convo[0].name}}</b>

        </div>
        <div class="item item-text-wrap">
          <div ng-repeat="message in convo[1] | orderBy:'created_at'" >
            <!-- {{if(message.from_id == current_user.id){ "me" } else { message.from } }} -->
            <b>{{message.from_id === current_user.id ? "Me" : message.from}}
            : </b> {{message.body}}
            <br />
          </div>
        </div>
        <div class="item item-divider">

          <button class="button button-small button-positive icon-left ion-reply" style="float:right" ng-click="reply(convo[0].id, replyMessage.body)">Reply</button>
          <div style="overflow: hidden; padding-right: .5em;">
            <input type="text" ng-model="replyMessage.body" style="width: 100%;" />
           </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
