<ion-view view-title="Login">
  <form name="signupForm" ng-controller="SignupCtrl">
  <ion-content class="padding mainBackground" style="padding-top:20px;" >
    <div class = "col text-center">
      <img src="images/gymconnect.png" style="height: 30vh; margin-left:auto; margin-right:auto; display:block;" alt="">
    </div>
    <div class="list list-inset">
      <label class="form-box item item-input">
        <i class="icon ion-android-person placeholder-icon"></i>
        <input style="" type="text" placeholder="Name" ng-model="data.name" required>
      </label>

      <label class="form-box item item-input">
        <i class="icon ion-ios-email-outline placeholder-icon"></i>
        <input style="" type="email" placeholder="Email" ng-model="data.email" required>
      </label>

      <label class="form-box item item-input">
        <i class="icon ion-ios-locked-outline placeholder-icon"></i>
        <input style="" type="password" placeholder="Password (min 8 characters)" ng-model="data.password" required>
      </label>

      <label class="form-box item item-input">
      <i class="icon ion-ios-locked-outline placeholder-icon"></i>
          <input style="" type="password" placeholder="Re-Enter Password" ng-model="data.password_confirmation" required>
      </label>

      <label class="form-box item item-input">
        <i class="icon ion-android-people placeholder-icon"></i>
        <input style="" type="text" placeholder="Gym Code" ng-model="data.gym_code" required>
      </label>
    </div>
  </form>

    <button style="" class="button button-block button-positive" ng-click="createUser(data)">
      Sign Up
    </button>
    <button ui-sref="login" style="" class="button button-block button-positive">
      Back
    </button>
  </ion-content>
</ion-view>
