<ion-view view-title="My Account">
  <ion-content class="padding" style="padding-top:0" >
    <div class="list list-inset">
     <label class="item item-input">Your Email:&nbsp;
        <span style="font-size:20px;padding-top:10px;font-family:Brandon;color:#55b74e;">{{current_user.email}}</span>
      </label>
      <label class="item item-input">Your Gym: &nbsp;
        <span style="font-size:20px;padding-top:10px;font-family:Brandon;color:#55b74e;">{{current_user.gym}}</span>
      </label>
    </div>
    <div style="text-align: center;">
      <img ng-src="{{profileImgSrc}}" alt="No Image Uploaded" style="height:25vh;">
      <button style="font-family:Brandon; background-color: #55b74e; width:60%; margin:0 auto" class="button button-block button-positive" ng-click="selectPicture()">
        Add/Edit Image
      </button>
    </div>

    <div class="list list-inset">
      <label class="form-box item item-input">
        <i class="icon ion-android-person placeholder-icon"></i>
        <input style="font-size:20px;padding-top:10px;font-family:Brandon;color:grey;" type="text" placeholder="Name" ng-model="current_user.name">
      </label>

      <label class="item item-input item-select">
          <div class="input-label">
            <i class="icon ion-stats-bars placeholder-icon" style="padding-left:0"></i>Workout Level
          </div>
          <select ng-model="current_user.workout_level">
              <option >beginner</option>
              <option>intermediate</option>
              <option>expert</option>
          </select>
      </label>

      <label class="item item-input item-select">
          <div class="input-label">
            <i class="icon ion-man placeholder-icon" style="padding: 0 0"></i><i class="icon ion-woman placeholder-icon" style="padding-left:0; padding-right:6px;"></i>Gender
          </div>
          <select ng-model="current_user.gender">
              <option >male</option>
              <option>female</option>
          </select>
      </label>
    </div>

    <div class="card">
      <div class="item item-divider">
        Hours In Gym
      </div>
      <div class="item item-text-wrap">
        <div style="border:1px solid black">
          <!-- {{indexToDayTime(current_user.hours_in_gym)}} -->
          <div ng-repeat="time in current_user.hours_in_gym" >
             {{indexToDayTime(time) | date:"EEEE 'at' h:mma"}}
             <br />
           </div>
        </div>
        </div>


        <label class="item item-input item-select">
            <div class="input-label">
              <i class="icon ion-calendar placeholder-icon" style="padding-left: 0"></i>Day of Week
            </div>
            <select ng-model="selectedDay">
              <option ng-repeat="day in daysOfWeek" value="{{day.id}}">{{day.name}}</option>
            </select>
        </label>
        <label class="item item-input item-select">
            <div class="input-label">
              <i class="icon ion-clock placeholder-icon" style="padding-left: 0"></i>Hour of Day
            </div>
            <select ng-model="selectedHour">
              <option ng-repeat="hour in hoursInDay" value="{{hour.id}}">{{hour.name}}</option>
            </select>
        </label>
        <div class="row">
          <div class="col text-right">
            <button class="button button-small button-positive icon-left ion-plus-circled" ng-click="addWorkoutTime(selectedDay, selectedHour)">Add Time</button>
          </div>
        </div>
      </div>
    </div>


    <button style="font-family:Brandon; background-color: #55b74e;" class="button button-block button-positive" ng-click="updateUser()">
      Update Account
    </button>
  </ion-content>
</ion-view>
