<ion-view view-title="Account">
<ion-nav-buttons side="right">
  <button class="button buttons button-outline header-item" style="color: white;
border: 1px solid white;
height: 80%;line-height:80%" ui-sref="2nd-step">
    Edit
  </button>
</ion-nav-buttons>
<ion-content class="" style="background-color: white; ">
  <div class="col" style="position:relative; padding:0">
    <div class="row" style="padding:0;">
      <account-image-slider user="current_user" ng-if="userLoaded"/>
    </div>
    <div class="row" style="position:absolute; bottom:0; left:0;">
      <h2 style="color: white;text-shadow: 0 0 5px black;">{{current_user.name}}</h2>
    </div>
  </div>
  <div class="col">
    <div class="row profile-item-label">
      Email
    </div>
    <div class="row profile-item">
      {{current_user.email}}
    </div>
    <hr class="profile-item-divider"/>
    <div class="row profile-item-label">
      Gym
    </div>
    <div class="row profile-item">
      {{current_user.gym}}
    </div>
    <hr class="profile-item-divider"/>
    <div class="row profile-item-label">
      Gender
    </div>
    <div class="row profile-item">
      {{current_user.gender | capitalizeFirst}}
    </div>
    <hr class="profile-item-divider"/>
    <div class="row profile-item-label">
      Looking For
    </div>
    <div class="row profile-item">
      {{current_user.gender_match | capitalizeFirst}}
    </div>
    <hr class="profile-item-divider"/>
    <div class="row profile-item-label">
      Workout Time
    </div>
    <div class="row profile-item">
      {{current_user.workout_time | capitalizeFirst}}
    </div>
    <hr class="profile-item-divider"/>

    <div class="row profile-item-label">
      Workout Level
    </div>
    <div class="row profile-item">
      {{current_user.workout_level | capitalizeFirst}}
    </div>
    <hr class="profile-item-divider"/>

    <div class="row profile-item-label">
      Attend Classes?
    </div>
    <div class="row profile-item">
      {{current_user.attend_classes | capitalizeFirst}}
    </div>
    <hr class="profile-item-divider"/>

    <div class="row profile-item-label">
      Workout Preference
    </div>
    <div class="row profile-item">
      {{current_user.workout_preference | capitalizeFirst}}
    </div>
    <hr class="profile-item-divider"/>

    <div class="row profile-item-label">
      Cardio Per Week
    </div>
    <div class="row profile-item">
      {{current_user.cardio_per_week | capitalizeFirst}}
    </div>
    <hr class="profile-item-divider"/>

    <div class="row profile-item-label">
      Days Per Week
    </div>
    <div class="row profile-item">
      {{current_user.days_per_week }}
    </div>
  </div>
  </ion-content>
</ion-view>
