<ion-view view-title="Dashboard">
  <ion-content has-footer="true">
    <ion-refresher
      pulling-text="Pull to refresh matches..."
      on-refresh="getMatches()">
    </ion-refresher>
    <div ng-hide="matches.length">
      <div class="text-center" style="margin-top: 30vh; background-color:rgba(30, 180, 255, .9); border-radius: 5px; max-width: 80%; margin-left: auto; margin-right: auto; padding:10px">
          <h4 style="text-align: center; color: white">No Matches</h4>
          <hr style=" isplay: block; height: 0px; border: 0; border-top: 1px solid #fff; border-bottom: 1px solid #fff; border-radius:2px; margin: 1em auto; padding: 0; width: 90% "/>
          <p style="color: white"><b>Note:</b> Try to diversify your workout times to find more workout buddies</p>
      </div>
    </div>
    <div ng-repeat="match in matches" >
      <div class="card" style="">
        <div class="item item-divider">
          {{match.email}}
        </div>
        <div class="item item-text-wrap">
          <div style="text-align: center;">
            <img ng-src="{{match.image_url}}" alt="No Image Uploaded" style="height: 40vh; max-width: 100%;">
          </div>
        </div>
         <p>Workout Level: {{match.workout_level}}</p>
         <p>Gender: {{match.gender}}</p>
         <p>Hours In Gym:</p>
         <div style="max-height: 16vh; overflow-y:auto; border: 1px solid black">
           <div ng-repeat="hour in match.hours_in_gym">
             {{indexToDayTime(hour) | date:"EEEE 'at' h:mma"}}
             <br />
           </div>
         </div>
         <div class="item item-divider">
           <button class="button button-small button-positive icon-left ion-reply" style="float:right" ng-click="startConversation(match.id, replyMessage.body)">Message</button>
           <div style="overflow: hidden; padding-right: .5em;">
             <input type="text" ng-model="replyMessage.body" style="width: 100%;" />
           </div>
         </div>
       </div>
     </div>
  </ion-content>
</ion-view>
