<ion-modal-view style="max-width:600px; height:100vh; margin:auto">
  <ion-header-bar align-title="left" class="bar-clear">
  <div class="buttons">
    <a class="button icon-left ion-arrow-left-c button-clear" style="color: white; text-shadow: 0 0 3px black;" ng-click="closeModal()"></a>
  </div>
</ion-header-bar>
<ion-content class="" style="background-color: white; top:0">
  <div class="col" style="position:relative; padding:0">
    <div class="row" style="padding:0;">
      <profileimageslider ng-if="matchSelected"/>
      <!-- <img ng-src="{{match.image_url}}" style="width:100%; max-height:60vh; box-shadow: 0 0 10px black;"/> -->
    </div>
    <div class="row" style="position:absolute; bottom:0; left:0;">
      <h2 style="color: white;text-shadow: 0 0 5px black;">{{match.name}}</h2>
    </div>
  </div>
  <div class="col">
    <!-- <div class="row profile-item-label">
      Description
    </div>
    <div class="row profile-item">
      {{match.description}}
    </div> -->
    <!-- <hr class="profile-item-divider"/> -->
    <div class="row profile-item-label">
      Gender
    </div>
    <div class="row profile-item">
      {{match.gender | capitalizeFirst}}
    </div>

    <hr class="profile-item-divider"/>
    <div class="row profile-item-label">
      Workout Time
    </div>
    <div class="row profile-item">
      {{match.workout_time | capitalizeFirst}}
    </div>

    <hr class="profile-item-divider"/>
    <div class="row profile-item-label">
      Workout Level
    </div>
    <div class="row profile-item">
      {{match.workout_level | capitalizeFirst}}
    </div>

    <hr class="profile-item-divider"/>
    <div class="row profile-item-label">
      Attend Classes
    </div>
    <div class="row profile-item">
      {{match.attend_classes | capitalizeFirst}}
    </div>

    <hr class="profile-item-divider"/>
    <div class="row profile-item-label">
      Days Per Week
    </div>
    <div class="row profile-item">
      {{match.days_per_week}}
    </div>

    <hr class="profile-item-divider"/>
    <div class="row profile-item-label">
      Cardio Per Week
    </div>
    <div class="row profile-item">
      {{match.cardio_per_week | capitalizeFirst}}
    </div>

    <hr class="profile-item-divider"/>
    <div class="row profile-item-label">
      Workout Preference
    </div>
    <div class="row profile-item">
      {{match.workout_preference | capitalizeFirst}}
    </div>

  </div>
  </ion-content>
  <ion-footer-bar align-title="left" class="bar-assertive" style="background: #455A64">
    <button class="button button-positive" ng-click="showPopup(match.id)" style="margin:0 auto; width: 100%; font-variant: small-caps; font-size: 16px;font-family:"-apple-system", "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;">Connect</button>
  </ion-footer-bar>
</ion-modal-view>
