<ion-modal-view>
    <ion-header-bar>
      <h1 class="title">Send Message</h1>
    </ion-header-bar>
    <ion-content>
          <div class="list">
            <label class="item item-input">
              <span class="input-label">To: </span>
              <input type="text" ng-model="replyMessage.to" disabled="disabled" readonly>
            </label>
            <label class="item item-input">
              <span class="input-label">Message: </span>
              <input type="textarea" ng-model="replyMessage.body">
            </label>
          </div>
          <button class="button button-full button-energized" ng-click="closeModal();reply($recieverId, replyMessage.body)">Send Message</button>
          <button class="button button-full button-energized" ng-click="closeModal()">Cancel</button>
    </ion-content>
</ion-modal-view>
