<ion-view class="mainBackground">
  <ion-content scroll="false" class="padding" style="padding-top:20px;">
    <section class="text-center" style="">
      <div class="text-center">
        <img src="images/gymconnect.png" class="tutorial-logo">
      </div>
      <p style="padding-top:10vh"class="tutorial-text">Thanks for choosing Gym Connect!
      Please take the time to follow the next 4 steps to setup your account and get you ready for matches. If you choose to skip these steps then you will need to update your information in your profile manually.</p>
    </section>
    <section style="position: absolute; bottom:0; left:0; padding:0; margin:0; width:100%;">
      <div class="row" style="padding:0; margin:0">
        <div class="col" style="padding:0;">
          <button style="width: 100%" class="button  button-positive" ng-click="skipTutorial()" >
            Skip
          </button>
        </div>
        <div class="col"></div>
        <div class="col" style="padding:0; text-align:right">
          <button  style="width: 100%" class="button  button-positive" ui-sref="2nd-step" nav-direction="forward">
            Start
          </button>
        </div>
      </div>
    </section>
  </ion-content>
</ion-view>
