<ion-view view-title="Login" class="mainBackground">
  <!-- <form name="loginForm" ng-controller="LoginCtrl"> -->
  <ion-content scroll="false" class="padding" style="padding-top:20px;">

    <section class="text-center" style="position: relative;
  top: 25%;
  transform: translateY(-25%);">


    <div class="text-center">
      <img src="images/gymconnect.png" style="height: 38vh; margin-left:auto; margin-right:auto; display:block;" alt="">
    </div>

    <p style="padding-top:10%"class="tutorial-text">Thanks for choosing Gym Connect!
    Please take the time to follow the next 3 steps to setup your account and get you ready for matches. If you choose to skip these steps then you will need to update your information in your profile manually.</p>

</section>


  <section style="position: absolute; bottom:0; left:0; padding:0; margin:0; width:100%;">


  <div class="row" style="width:33.3%; margin:0 auto;">
    <!-- <div class="col"></div> -->
    <div class="col col-center" style="color:white;">
      <div class="row" style="padding:0 0 0 0; margin:0;">
        <div class="col" style="text-align:center">
          <i class="icon ion-ios-circle-filled " style=""></i>
        </div>
        <div class="col" style="text-align:center">
          <i class="icon ion-ios-circle-outline"></i>
        </div>
        <div class="col" style="text-align:center">
          <i class="icon ion-ios-circle-outline"></i>
        </div>
        <div class="col" style="text-align:center">
          <i class="icon ion-ios-circle-outline"></i>
        </div>
      </div>
    </div>
    <!-- <div class="col"></div> -->
  </div>
  <div class="row" style="padding:0; margin:0">
    <div class="col" style="padding:0;">
      <button style="width: 100%" class="button  button-positive" ui-sref="tab.myAccount">
        Skip
      </button>
    </div>
    <div class="col"></div>
    <div class="col" style="padding:0; text-align:right">
      <button  style="width: 100%" class="button  button-positive" ui-sref="2nd-step">
        Next
      </button>
    </div>
  </div>
  </section>


  </ion-content>
</ion-view>
