<ion-view class="mainBackground">
  <form name="nameDescForm" ng-controller="SignupTutorialCtrl">
  <ion-content class="padding has-footer step-two-content" style="padding-top:20px;">
    <div class="row text-center">
      <img src="images/gymconnect.png" class="tutorial-logo">
    </div>
    <div class="row tutorial-text" style="padding-top:0">First we need some basic information about you. Including your name and some Gym habbits!</div>

    <div class="list list-inset step-two-list">
      <label class="form-box item item-input">
        <i class="icon ion-android-person placeholder-icon" style=" padding-left:15px"></i>
        <input keyboard-attach id="nameInput2S" style="loginFields" type="text" placeholder="Name" ng-model="current_user.name"  />
      </label>
      <label class="item item-input item-select">
          <i class="icon ion-clipboard placeholder-icon" style="padding-left: 14px;"></i><span class="item-select-label">Attend Classes</span>
          <select ng-model="current_user.attend_classes" style="padding-right: 32px;">
             <option ng-repeat="option in AttendClasses" value="{{option}}">{{option}}</option>
          </select>
      </label>
      <label class="item item-input item-select">
          <i class="icon ion-calendar placeholder-icon" style="padding-left: 14px;"></i><span class="item-select-label">Days Per Week</span>
          <select ng-model="current_user.days_per_week" style="padding-right: 32px;" convert-to-number>
             <option ng-repeat="n in range(0,7)" value="{{n}}">{{n}}</option>
          </select>
      </label>
    </div>
  </ion-content>

  <div class="bar bar-subfooter bar-clear auto-height">
    <div class="row" style="width:33.3%; margin:0 auto; padding-bottom:0">
      <div class="col col-center" style="color:white;  padding-bottom: 0;">
        <div class="row" style="padding:0 0 0 0; margin:0;">
          <div class="col" style="text-align:center">
            <i class="icon ion-ios-circle-filled"></i>
          </div>
          <div class="col" style="text-align:center">
            <i class="icon ion-ios-circle-outline"></i>
          </div>
          <div class="col" style="text-align:center">
            <i class="icon ion-ios-circle-outline"></i>
          </div>
          <div class="col" style="text-align:center">
            <i class="icon ion-ios-circle-outline"></i>
          </div>
        </div>
      </div>
    </div>
</div>

<ion-footer-bar class="bar bar-footer bar-clear" style="padding:0; margin:0;">
  <div class="row" style="padding:0; margin:0">
    <div class="col" style="padding:0;">
      <button style="width: 100%; min-height:44px; height:100%; font-size:16px; padding-bottom:0; margin-bottom:0" class="button  button-positive"  ng-click="ionicHistoryBack()" nav-direction="back">
        Back
      </button>
    </div>
    <div class="col"></div>
    <div class="col" style="padding:0; text-align:right">
      <button  style="width: 100%; min-height:44px; height:100%; font-size:16px; padding-bottom:0;margin-bottom:0" class="button  button-positive" ng-click='NameDescNext()' nav-direction="forward">
        Next
      </button>
    </div>
  </div>
    </form>
</ion-footer-bar>
</ion-view>
