<ion-view class="mainBackground">
  <ion-content scroll="false" class="padding" style="padding-top:20px;">
    <section class="text-center" style="">
      <div class="text-center">
        <img src="images/gymconnect.png" class="tutorial-logo">
      </div>
      <p style="padding-top:0"class="tutorial-text">Now lets add some images to your profile. The first image will be your main profile picture for matches.</p>
      <div style="max-width: 500px; height:35vh; margin: 0 auto; ">
        <div class="flex-row" style="height:100%">
          <div class="flex-col" style="flex:2; position:relative">
            <div class="flex-item flex-profile-image" style="flex:2; overflow: hidden; position:relative;">
              <div class="upload-image-crop" style="background-image: url('{{current_user.image_url}}');"></div>
              <a class="button button-icon icon ion-plus-circled" style="color:white; position: absolute; bottom: -5px;right: -5px;" ng-click="selectMainImage()"></a>
            </div>
          </div>
          <div class="flex-col" style="flex:1;">
            <div class="flex-item flex-profile-image" style="flex:1; overflow: hidden; position:relative;">
              <div class="upload-image-crop" style="background-image: url('{{current_user.second_image_url}}');"></div>
              <a class="button button-icon icon ion-plus-circled" style="color:white; position: absolute;bottom: -9%;right: -5px;" ng-click="selectSecondImage()"></a>
            </div>
            <div class="flex-item flex-profile-image" style="flex:1; overflow:hidden; position:relative;">
              <div class="upload-image-crop" style="background-image: url('{{current_user.third_image_url}}');"></div>
              <a class="button button-icon icon ion-plus-circled" style="color:white; position: absolute;bottom: -5px;right: -5px;" ng-click="selectThirdImage()"></a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section style="position: absolute; bottom:0; left:0; padding:0; margin:0; width:100%;">
      <div class="row" style="width:33.3%; margin:0 auto;">
        <div class="col col-center" style="color:white;  padding-bottom: 0;">
          <div class="row" style="padding:0 0 0 0; margin:0;">
            <div class="col" style="text-align:center">
              <i class="icon ion-ios-circle-outline"></i>
            </div>
            <div class="col" style="text-align:center">
              <i class="icon ion-ios-circle-filled"></i>
            </div>
            <div class="col" style="text-align:center">
              <i class="icon ion-ios-circle-outline"></i>
            </div>
            <div class="col" style="text-align:center">
              <i class="icon ion-ios-circle-outline"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="row" style="padding:0; margin:0">
        <div class="col" style="padding:0;">
          <button style="width: 100%" class="button  button-positive"  ui-sref="2nd-step" nav-direction="back">
            Back
          </button>
        </div>
        <div class="col"></div>
        <div class="col" style="padding:0; text-align:right">
          <button  style="width: 100%" class="button  button-positive"  ng-click="ImagesNext()">
            Next
          </button>
        </div>
      </div>
    </section>
  </ion-content>
</ion-view>
