<ion-view class="mainBackground">
  <form name="workoutForm" ng-controller="SignupTutorialCtrl">
  <ion-content class="padding" style="padding-top:20px;">
    <section class="text-center" style="">
      <div class="text-center">
        <img src="images/gymconnect.png" class="tutorial-logo">
      </div>
      <p style="padding-top:0"class="tutorial-text">Next we need to determine the best type of gym experience for you. Please select a workout level, preference and time that best describes you!</p>
      <div class="list list-inset">
        <label class="item item-input item-select">
            <i class="icon ion-heart placeholder-icon" style="padding-left: 7px;"></i><span class="item-select-label">Workout Level</span>
            <select ng-model="current_user.workout_level" style="padding-right: 32px;">
               <option ng-repeat="option in WorkoutLevels" value="{{option}}">{{option}}</option>
            </select>
        </label>
        <label class="item item-input item-select">
            <i class="icon ion-android-settings placeholder-icon" style="padding-left: 7px;"></i><span class="item-select-label">Workout Preference</span>
            <select ng-model="current_user.workout_preference" style="padding-right: 32px;">
               <option ng-repeat="option in WorkoutPreference" value="{{option}}">{{option}}</option>
            </select>
        </label>
        <label class="item item-input item-select">
            <i class="icon ion-ios-pulse-strong placeholder-icon" style="padding-left: 7px;"></i><span class="item-select-label">Cardio Per Week</span>
            <select ng-model="current_user.cardio_per_week" style="padding-right: 32px;">
               <option ng-repeat="n in CardioPerWeek" value="{{n}}">{{n}}</option>
            </select>
        </label>
      </div>
    </section>
  </form>
    <section style="position: absolute; bottom:0; left:0; padding:0; margin:0; width:100%;">
      <div class="row" style="width:33.3%; margin:0 auto;">
        <div class="col col-center" style="color:white; padding-bottom: 0;">
          <div class="row" style="padding:0 0 0 0; margin:0;">
            <div class="col" style="text-align:center">
              <i class="icon ion-ios-circle-outline"></i>
            </div>
            <div class="col" style="text-align:center">
              <i class="icon ion-ios-circle-outline"></i>
            </div>
            <div class="col" style="text-align:center">
              <i class="icon ion-ios-circle-filled"></i>
            </div>
            <div class="col" style="text-align:center">
              <i class="icon ion-ios-circle-outline"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="row" style="padding:0; margin:0">
        <div class="col" style="padding:0;">
          <button style="width: 100%" class="button  button-positive"  ui-sref="3rd-step" nav-direction="back">
            Back
          </button>
        </div>
        <div class="col"></div>
        <div class="col" style="padding:0; text-align:right">
          <button  style="width: 100%" class="button  button-positive" ng-click="WorkoutNext()">
            Next
          </button>
        </div>
      </div>
    </section>
  </ion-content>
</ion-view>
