<ion-view class="mainBackground">
  <form name="genderForm" ng-controller="SignupTutorialCtrl">
  <ion-content class="padding" style="padding-top:20px;">
    <section class="text-center">
      <div class="text-center">
        <img src="images/gymconnect.png" class="tutorial-logo">
      </div>
      <p style="padding-top:0"class="tutorial-text">Last step! Please fill out your gender and the gender you would like to match with.</p>
      <div class="list list-inset">
        <label class="item item-input item-select">
            <i class="icon ion-ios-clock-outline placeholder-icon" style="padding-left: 7px;"></i><span class="item-select-label">Workout Time</span>
            <select ng-model="current_user.workout_time" style="padding-right: 32px;">
               <option ng-repeat="option in WorkoutTimes" value="{{option}}">{{option}}</option>
            </select>
        </label>
        <label class="item item-input item-select">
            <i class="icon ion-ios-person placeholder-icon" style="padding-left:7px"></i><span class="item-select-label">My Gender</span>
            <select ng-model="current_user.gender" style="padding-right: 32px;">
                <option ng-repeat="option in Genders" value="{{option}}">{{option}}</option>
            </select>
        </label>
        <label class="item item-input item-select">
            <i class="icon ion-ios-people placeholder-icon" style="padding-left:7px"></i><span class="item-select-label">Match Me With</span>
            <select ng-model="current_user.gender_match" style="padding-right: 32px;">
                <option ng-repeat="option in GenderMatch" value="{{option}}">{{option}}</option>
            </select>
        </label>
      </div>
    </section>
  </form>
    <section style="position: absolute; bottom:0; left:0; padding:0; margin:0; width:100%;">
      <div class="row" style="width:33.3%; margin:0 auto;">
        <div class="col col-center" style="color:white; padding-bottom: 0;">
          <div class="row" style="padding:0 0 0 0; margin:0;">
            <div class="col" style="text-align:center">
              <i class="icon ion-ios-circle-outline"></i>
            </div>
            <div class="col" style="text-align:center">
              <i class="icon ion-ios-circle-outline"></i>
            </div>
            <div class="col" style="text-align:center">
              <i class="icon ion-ios-circle-outline"></i>
            </div>
            <div class="col" style="text-align:center">
              <i class="icon ion-ios-circle-filled"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="row" style="padding:0; margin:0">
        <div class="col" style="padding:0;">
          <button style="width: 100%" class="button  button-positive"  ui-sref="4th-step">
            Back
          </button>
        </div>
        <div class="col"></div>
        <div class="col" style="padding:0; text-align:right">
          <button  style="width: 100%" class="button  button-positive" ng-click='GenderNext()'>
            Done
          </button>
        </div>
      </div>
    </section>
  </ion-content>
</ion-view>
