<div class="matches-slider" style="visibility: visible; max-width: 600px; margin: 0 auto;">
<div ng-repeat="match in matches" ng-show="match.visible" class="match" style="padding-top:5vh;">
  <div class="row">


  <div class="col-5 match-direction-col">
    <img ng-src="images/circled-chevron-left.png" ng-click="prev()" style="width: 160%; margin-left:50%;z-index:1"/>
  </div>
  <div class="col-90 match-background" style="z-index: 2;">
    <div class="match-image-container">
      <img class="match-image" ng-src="{{match.image_url}}"/>
    </div>
    <div class="row">
      <h1 class="match-name">{{match.name}}</h1>
    </div>
    <div class="row" style="overflow:hidden; max-height: 60px;">
      <p class="match-description">{{match.description}}</p>
    </div>
    <div ng-controller="MatchesCtrl" class="row match-buttons-container">
      <div class="col">
        <button ng-click="openModal(match)" class="button button-small button-positive button-block" style="border-radius: 20px">Profile</button>
      </div>
      <div class="col">
        <button ng-click="showPopup(match.id)" class="button button-small button-positive button-block" style="border-radius: 20px">Connect</button>
      </div>
    </div>
  </div>
  <div class="col-5 match-direction-col">
    <img ng-src="images/circled-chevron-left.png" ng-click="next()" style="transform: rotate(180deg);width: 160%; margin-right:50%; z-index:1"/>
  </div>
    </div>
  <div class="row" style="">
    <h5 style="margin:0 auto; margin-top: 1vh;">{{$index+1}}/{{matches.length}}</h5>
  </div>
</div>
</div>
