<div class="matches-slider " style="visibility: visible; max-width: 600px; margin: 0 auto; position:relative">
<div ng-repeat="match in matches" ng-show="match.visible" class="match fade-in" style="padding-top:4vh; padding-bottom:0;" on-swipe-left="prev()" on-swipe-right="next()">
  <div class="row">
  <div class="col-5 match-direction-col">
    <img ng-src="images/circled-chevron-left.png" ng-click="prev()" style="width: 160%; margin-left:50%;z-index:1"/>
  </div>
  <div class="col-90 match-background" style="z-index: 2;">
    <div class="match-image-container">
      <div class="match-image test-account" style="background-image: url('{{match.image_url}}'); box-shadow: 0 0 10px black;"/>
    </div>
    <div class="row">
      <h1 class="match-name" style="text-align:center; width:100%; margin-bottom:0; padding-top:.5vh; padding-bottom:1.5vh; ">{{match.name}}</h1>
    </div>

    <div class="row">
      <span align="right" class="col col-50 profile-item-label" style="text-align:right;">gender</span>
      <span align="left" class="col col-50 profile-item-label" style="color: black; font-weight:200;">{{match.gender}}</span>
    </div>

    <div class="row">
      <span align="right" class="col col-50 profile-item-label" style="text-align:right;">workout time</span>
      <span align="left" class="col col-50 profile-item-label" style="color: black; font-weight:200;">{{match.workout_time}}</span>
    </div>

    <div class="row">
      <span align="right" class="col col-50 profile-item-label" style="text-align:right;">workout level</span>
      <span align="left" class="col col-50 profile-item-label" style="color: black; font-weight:200;">{{match.workout_level }}</span>
    </div>

    <div ng-controller="MatchesCtrl" class="row match-buttons-container" style="padding-bottom:0; margin-bottom: -1vh">
      <div class="col">
        <button ng-click="openModal(match)" class="button button-small button-positive button-block" style="border-radius: 5px; font-variant:small-caps">Profile</button>
      </div>
      <div class="col">
        <button ng-click="showPopup(match.id)" class="button button-small button-positive button-block" style="border-radius: 5px; font-variant:small-caps">Connect</button>
      </div>
    </div>
  </div>
  <div class="col-5 match-direction-col">
    <img ng-src="images/circled-chevron-left.png" ng-click="next()" style="transform: rotate(180deg);width: 160%; margin-right:50%; z-index:1"/>
  </div>
    </div>
  <div class="row" style="">
    <h5 style="font-family: 'Nordica'; margin:0 auto; margin-top: 1vh;">{{$index+1}}/{{matches.length}}</h5>
  </div>
</div>
</div>
